In [1]:
# Import modules
import pandas as pd
import json
import requests

import matplotlib.pyplot as plt
import numpy as np

# Google API Key
from config import gkey

In [2]:
# Open csv file for reading City Survey Master Data 1996-2017 csv file downloaded from http://sfgov.org/citysurvey/file/95.
# Open csv file from https://www.zillow.com/research/data/
# Save path to data set in a variable
data_file = "Resources/City Survey MASTER Data 2015-2017 Copy.csv"
data_file2 = "Resources/Zip_Zhvi_SingleFamilyResidence.csv"

In [3]:
# Use Pandas to read sfgov.org data and zillow medium single family home price
city_survey_pd = pd.read_csv(data_file, dtype={'zipcode':'str', 'deduc' : 'int'})
city_survey_pd.head()

home_pd = pd.read_csv(data_file2)
home_pd.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02
0,84654,60657,Chicago,IL,Chicago,Cook,1,420800.0,423500.0,426200.0,...,1072300,1062400,1051500,1047200,1047300,1047300,1049600,1050900,1049400,1049600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,NaN,NaN,NaN,...,317500,318400,318500,319400,322400,324800,325400,325000,325100,325000
2,84616,60614,Chicago,IL,Chicago,Cook,3,542400.0,546700.0,551700.0,...,1522500,1514200,1511300,1513400,1513300,1508000,1503700,1495500,1487500,1487000
3,93144,79936,El Paso,TX,El Paso,El Paso,4,70900.0,71200.0,71100.0,...,114000,114100,113800,113700,114200,114300,114000,114000,114300,114200
4,91733,77084,Houston,TX,Houston,Harris,5,76700.0,76500.0,76000.0,...,158800,160700,161400,162600,164100,164400,164200,163800,164000,164400

In [4]:
# Select specific columns
sf_2017_pd = city_survey_pd[city_survey_pd.year == 2017]
sf_pd = sf_2017_pd[['year', 'zipcode', 'dage', 'dethnic', 'dlivedsf', 'deduc', 'dincome', 'movesf', 'ownrenhm']].copy()
sf_pd['zipcode'] = sf_pd['zipcode'].astype(int) 
sf_pd.head()

sf_pd.dtypes

year        int64
zipcode     int32
dage        int64
dethnic     int64
dlivedsf    int64
deduc       int32
dincome     int64
movesf      int64
ownrenhm    int64
dtype: object

In [5]:
# Count rows to see if there's any missing values.
sf_pd.count()

year        2166
zipcode     2166
dage        2166
dethnic     2166
dlivedsf    2166
deduc       2166
dincome     2166
movesf      2166
ownrenhm    2166
dtype: int64

In [6]:
# Select San Francisco single family home prices from Zillow file
# Get aveage home price for 2017

sfhome_pd = home_pd[home_pd.City == 'San Francisco']

AvePrice = sfhome_pd[['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12']].mean(axis=1)
sfhome_pd['AvePrice'] = AvePrice

homeprice_pd = sfhome_pd[['RegionName', 'City', 'State', 'AvePrice']].copy()

homeprice_pd = homeprice_pd.rename(columns={'RegionName': 'zipcode'})

homeprice_pd.head()

C:\Users\DCPC\Anaconda3\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

     zipcode           City State      AvePrice
8      94109  San Francisco    CA  3.942708e+06
63     94110  San Francisco    CA  1.428692e+06
313    94122  San Francisco    CA  1.301808e+06
477    94112  San Francisco    CA  9.375333e+05
715    94115  San Francisco    CA  4.077917e+06

In [7]:
homeprice_pd.dtypes

zipcode       int64
City         object
State        object
AvePrice    float64
dtype: object

In [8]:
# Add columns for lat and lng
homeprice_pd["Lat"] = ""
homeprice_pd["Lng"] = ""
homeprice_pd.head()

     zipcode           City State      AvePrice Lat Lng
8      94109  San Francisco    CA  3.942708e+06
63     94110  San Francisco    CA  1.428692e+06
313    94122  San Francisco    CA  1.301808e+06
477    94112  San Francisco    CA  9.375333e+05
715    94115  San Francisco    CA  4.077917e+06

In [9]:
# create a params dict that will be updated with new zip code iteration
params = {"key": gkey}

# Loop through the homeprice_pd and run a lat/long search for each zip code
for index, row in homeprice_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    zipcode = row['zipcode']

    # update address key value
    params['address'] = f"{zipcode}"

    # make request, print url
    cities_lat_lng = requests.get(base_url, params=params)

    # convert to json
    cities_lat_lng = cities_lat_lng.json()

    homeprice_pd.set_value(
        index, "Lat", cities_lat_lng["results"][0]["geometry"]["location"]["lat"])
    homeprice_pd.set_value(
        index, "Lng", cities_lat_lng["results"][0]["geometry"]["location"]["lng"])

# Visualize to confirm lat lng appear
homeprice_pd.head()

C:\Users\DCPC\Anaconda3\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\DCPC\Anaconda3\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

     zipcode           City State      AvePrice      Lat      Lng
8      94109  San Francisco    CA  3.942708e+06   37.793 -122.421
63     94110  San Francisco    CA  1.428692e+06  37.7486 -122.418
313    94122  San Francisco    CA  1.301808e+06  37.7597 -122.475
477    94112  San Francisco    CA  9.375333e+05  37.7225 -122.441
715    94115  San Francisco    CA  4.077917e+06  37.7878 -122.438

In [10]:
# Include single family home average price and latitude and longitude.
combined_pd = pd.merge(sf_pd, homeprice_pd, on='zipcode')

combined_pd.head()

,year,zipcode,dage,dethnic,dlivedsf,deduc,dincome,movesf,ownrenhm,City,State,AvePrice,Lat,Lng
0,2017,94109,7,4,6,3,2,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421
1,2017,94109,2,4,3,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421
2,2017,94109,3,4,2,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421
3,2017,94109,2,2,2,4,3,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421
4,2017,94109,5,4,1,4,8,1,3,San Francisco,CA,3.942708e+06,37.793,-122.421

In [11]:
# Select other cities to make single family home price comparison.
list_of_cities = ["San Francisco", "Los Angeles", "San Diego", "Sacramento", "Portland", "Seattle"]

home_pd= home_pd[home_pd['City'].isin(list_of_cities)]

home_pd

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02
8,97564,94109,San Francisco,CA,San Francisco,San Francisco,9,NaN,NaN,NaN,...,3919100,3956400,3981600,3953600,3893200,3892600,3957300,3969900,3902700,3861400
23,96027,90046,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,24,374500.0,374400.0,374700.0,...,1650300,1663100,1665600,1668800,1676100,1720600,1765900,1774000,1775800,1805400
62,96015,90034,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,63,234500.0,234500.0,235400.0,...,1156000,1156800,1151500,1155500,1171700,1193500,1224800,1251900,1274900,1294400
63,97565,94110,San Francisco,CA,San Francisco,San Francisco,64,NaN,NaN,NaN,...,1413800,1424700,1437100,1436900,1432900,1453100,1494000,1512400,1509400,1511200
72,96025,90044,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,73,115600.0,114700.0,114400.0,...,400100,404900,408200,410900,414900,418700,422000,424100,426700,429800
92,96007,90026,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,93,145400.0,144700.0,144900.0,...,882600,891400,892400,894800,904200,918500,932700,943100,953200,962400
118,96047,90066,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,119,243000.0,243800.0,243900.0,...,1291800,1296800,1292800,1296100,1309100,1331600,1347000,1353700,1359000,1369900
130,98432,95823,Sacramento,CA,Sacramento,Sacramento,131,88700.0,88200.0,87700.0,...,257000,260100,262600,264000,265200,267300,268900,269800,272000,274700
146,99563,98103,Seattle,WA,Seattle,King,147,186500.0,185500.0,184500.0,...,803300,813800,814800,816300,826000,840400,854000,861900,868600,873500
148,96667,92126,San Diego,CA,San Diego,San Diego,149,156900.0,156300.0,155500.0,...,568900,576600,583000,587300,588200,590200,593100,596600,603300,609600
149,96000,90019,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,150,NaN,NaN,NaN,...,1032100,1051400,1069100,1083300,1099000,1118100,1135700,1146600,1156400,1166500
191,96651,92109,San Diego,CA,San Diego,San Diego,192,242400.0,245500.0,247400.0,...,991200,987300,988200,994000,997600,1011600,1037000,1052900,1065500,1079300
199,95985,90004,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,200,248500.0,246700.0,245600.0,...,1522100,1522100,1520700,1524000,1527100,1556100,1591700,1597400,1590400,1602400
223,96368,91342,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,224,135200.0,135000.0,134500.0,...,492100,495000,497100,500000,504600,509400,514100,517100,519200,521300
248,95992,90011,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,249,NaN,NaN,NaN,...,388000,389300,390000,392000,396000,398600,398900,397700,397600,399000
254,96006,90025,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,255,NaN,NaN,NaN,...,1452800,1447200,1432100,1431300,1451700,1470700,1494800,1523100,1552500,1572700
256,96008,90027,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,257,312200.0,311900.0,311100.0,...,1615000,1627000,1633000,1639900,1650900,1678300,1717200,1740800,1750100,1762000
275,96364,91335,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,276,128400.0,128600.0,128700.0,...,519300,520700,520900,523500,528900,533800,539200,544100,548300,550800
279,96221,90731,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,280,187200.0,185100.0,183700.0,...,599100,597500,596800,599200,604200,610200,616200,620600,625800,631100
311,99575,98115,Seattle,WA,Seattle,King,312,189800.0,190100.0,190000.0,...,801800,812000,814700,814900,818900,827600,838800,850200,864700,875000
313,97576,94122,San Francisco,CA,San Francisco,San Francisco,314,272400.0,274200.0,275000.0,...,1284600,1295400,1307300,1316700,1327300,1342900,1366600,1376200,1371200,1367000
387,96646,92104,San Diego,CA,San Diego,San Diego,388,140400.0,140700.0,140400.0,...,665100,694600,719100,731200,736900,743000,748500,753600,761900,768600
388,96657,92115,San Diego,CA,San Diego,San Diego,389,137500.0,135800.0,135200.0,...,504500,503900,502100,502300,505600,510300,514000,518300,525500,531200
403,96690,92154,San Diego,CA,San Diego,San Diego,404,141700.0,140900.0,140400.0,...,445200,447200,452000,457600,460500,462000,463100,464800,469300,473300
412,99581,98122,Seattle,WA,Seattle,King,413,181500.0,180300.0,178900.0,...,821600,830300,832900,831800,834700,845400,859200,870300,881600,887200
444,96647,92105,San Diego,CA,San Diego,San Diego,445,101200.0,101600.0,102000.0,...,406600,407300,409200,413300,416400,418700,422300,426700,432500,437000
455,96664,92122,San Diego,CA,San Diego,San Diego,456,237100.0,238400.0,239300.0,...,816700,826300,828300,828300,831600,838700,846000,851800,860000,867800
477,97567,94112,San Francisco,CA,San Francisco,San Francisco,478,209200.0,207600.0,208100.0,...,929500,943500,952500,958400,966000,974900,988100,993000,991600,991100
510,96017,90036,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,511,300100.0,298800.0,300000.0,...,1686300,1696000,1697300,1697600,1704800,1757800,1804800,1794800,1775900,1798000
537,96659,92117,San Diego,CA,San Diego,San Diego,538,168800.0,166900.0,165300.0,...,616000,622500,625900,628700,632700,638200,643500,649200,656700,662300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5653,99145,97232,Portland,OR,Portland,Multnomah,5654,177100.0,177000.0,177300.0,...,718500,716100,710500,706900,707100,705900,705100,707400,712200,715200
5739,97581,94127,San Francisco,CA,San Francisco,San Francisco,5740,341700.0,343600.0,348500.0,...,1553600,1566200,1582800,1598300,1615800,1638400,1665700,1685100,1696900,1701900
5787,96282,91040,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,5788,152800.0,153300.0,153200.0,...,585700,588900,589600,593000,598400,603100,608400,615400,620500,622900
5790,96042,90061,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,5791,110200.0,110400.0,111300.0,...,377700,378600,379100,380900,384700,388800,393000,395500,396100,397000
5807,92419,78374,Portland,TX,Corpus Christi,San Patricio,5808,75500.0,77000.0,78600.0,...,163600,164400,165400,165900,166100,165800,166500,168800,170700,170900
5886,96707,92173,San Diego,CA,San Diego,San Diego,5887,139700.0,138200.0,137200.0,...,442500,445400,448700,451800,453200,454200,455200,456400,458900,460700
5920,99129,97215,Portland,OR,Portland,Multnomah,5921,138100.0,138700.0,139100.0,...,536400,535000,533700,531900,530800,529300,529100,530800,534100,536800
5946,99591,98136,Seattle,WA,Seattle,King,5947,183100.0,182200.0,181300.0,...,742000,753100,756900,753100,751400,758500,769800,782600,797800,807000
6306,99124,97210,Portland,OR,Portland,Multnomah,6307,295300.0,300000.0,304900.0,...,1009000,1007400,1008100,1010700,1009400,1000800,991600,988700,992700,999700
6389,96129,90293,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6390,372700.0,376300.0,379900.0,...,1622200,1638700,1651700,1670600,1688500,1709700,1747400,1783800,1801800,1808900
6441,98426,95817,Sacramento,CA,Sacramento,Sacramento,6442,74000.0,75500.0,76900.0,...,311600,319900,328100,331000,330100,331500,334700,336600,339300,343600
6545,99130,97216,Portland,OR,Portland,Multnomah,6546,99000.0,100600.0,101900.0,...,306700,309900,311200,311100,311100,310600,311100,312900,315100,316800
6944,98423,95814,Sacramento,CA,Sacramento,Sacramento,6945,NaN,NaN,NaN,...,402600,403300,395000,391700,397500,406400,412500,411900,411300,413800
7008,99132,97218,Portland,OR,Portland,Multnomah,7009,100500.0,100600.0,101300.0,...,390200,388600,386400,385700,386200,386100,386600,387500,389300,391000
7082,96426,91436,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,7083,437100.0,430300.0,423600.0,...,1592000,1578600,1569900,1581100,1599900,1631400,1669600,1690900,1694100,1702100
7373,99119,97205,Portland,OR,Portland,Multnomah,7374,305700.0,312300.0,318800.0,...,979200,977800,979100,984500,987100,977300,968100,965800,969300,974300
7569,99135,97221,Portland,OR,Portland,Multnomah,7570,225600.0,224600.0,225400.0,...,629700,629000,630600,633800,635300,633100,631600,631600,634800,639100
7579,96371,91345,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,7580,135000.0,136000.0,136800.0,...,500600,500800,500600,503200,508200,514400,520400,523800,525000,526000
7634,78566,47371,Portland,IN,NaN,Jay,7635,63300.0,64400.0,64200.0,...,75600,75600,75400,75100,74900,75200,75800,76600,76900,76800
8115,399682,95811,Sacramento,CA,Sacramento,Sacramento,8116,122200.0,121200.0,120900.0,...,388800,388900,385200,379900,378200,384800,394100,401200,406100,410200
8564,79446,48875,Portland,MI,Ionia,Ionia,8565,84100.0,82800.0,81000.0,...,148300,150700,153900,155000,153700,152900,153800,154100,157400,163400
8606,60338,6480,Portland,CT,Hartford,Middlesex,8607,125900.0,128300.0,130900.0,...,236600,237200,238000,237800,237300,237800,239100,239800,238900,237300
8744,96058,90077,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,8745,732800.0,741000.0,746400.0,...,3086300,3102000,3118400,3134900,3148900,3201900,3272500,3317800,3332800,3349800
8808,96105,90248,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,8809,156200.0,157300.0,157100.0,...,539800,542500,542900,543200,545400,551100,557100,562700,567700,570700
9530,98441,95832,Sacramento,CA,Sacramento,Sacramento,9531,75100.0,73200.0,71800.0,...,232500,237000,241200,244100,245300,246000,246900,248000,249900,252000
10200,99140,97227,Portland,OR,Portland,Multnomah,10201,102500.0,102700.0,102500.0,...,543600,542400,538900,535700,535300,535600,534900,534900,534700,535500
10708,92428,78384,San Diego,TX,NaN,Duval,10709,59400.0,59400.0,59400.0,...,68200,69100,69900,70500,70900,71900,73800,75300,75900,76100
11284,99144,97231,Portland,OR,Portland,Multnomah,11285,224600.0,218900.0,217100.0,...,563200,565900,567000,571700,578000,580100,581100,586400,590800,590800
11556,96663,92121,San Diego,CA,San Diego,San Diego,11557,307300.0,308600.0,306400.0,...,856500,890500,900900,904200,907800,915200,917900,919300,932700,951800
14069,59375,4108,Portland,ME,Portland,Cumberland,14070,112200.0,111200.0,112700.0,...,412700,407700,405500,407700,413200,417000,416000,418500,421000,417700

In [12]:
home_price = home_pd.groupby(["City"]).mean()
home_price

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02
City,,,,,,,,,,,,,,,,,,,,,
Los Angeles,96170.119565,90589.510870,2414.032609,230146.913580,230508.641975,230354.320988,230061.728395,229946.913580,229818.518519,229787.654321,...,9.504630e+05,9.547793e+05,9.566728e+05,9.618913e+05,9.712033e+05,9.858120e+05,1.001565e+06,1.011500e+06,1.017961e+06,1.025458e+06
Portland,91199.058824,78387.029412,4995.647059,135258.823529,136188.235294,137279.411765,138273.529412,139191.176471,140082.352941,141135.294118,...,4.475588e+05,4.478471e+05,4.480824e+05,4.487735e+05,4.494265e+05,4.485529e+05,4.483000e+05,4.500588e+05,4.527706e+05,4.546882e+05
Sacramento,112776.428571,95817.809524,4054.523810,107415.000000,107385.000000,107255.000000,107125.000000,106840.000000,106540.000000,106365.000000,...,3.283095e+05,3.320286e+05,3.339000e+05,3.346048e+05,3.355714e+05,3.385810e+05,3.420333e+05,3.444714e+05,3.476667e+05,3.513524e+05
San Diego,96523.580645,91675.000000,2538.903226,207262.068966,206793.103448,206227.586207,205679.310345,205189.655172,205320.689655,205989.655172,...,7.247581e+05,7.347194e+05,7.415645e+05,7.452677e+05,7.475806e+05,7.541581e+05,7.634129e+05,7.708258e+05,7.789290e+05,7.872968e+05
San Francisco,97573.631579,94119.368421,1780.789474,265180.000000,266630.000000,268140.000000,269750.000000,271280.000000,272220.000000,272970.000000,...,1.910626e+06,1.918858e+06,1.935658e+06,1.945379e+06,1.940700e+06,1.960511e+06,2.017942e+06,2.046621e+06,2.038184e+06,2.037684e+06
Seattle,99577.631579,98120.473684,2429.578947,195900.000000,194978.947368,194252.631579,193968.421053,194078.947368,194531.578947,195305.263158,...,8.120421e+05,8.266000e+05,8.336789e+05,8.368105e+05,8.423947e+05,8.522579e+05,8.639632e+05,8.759842e+05,8.907211e+05,9.005895e+05

In [13]:
# Save both sets of data to csv files.
combined_pd.to_csv('sfdata.csv', index=False, header=True)
home_price.to_csv('homeprice.csv', index=True, header=True)